body
  padding-top: 70px

#saveButton
  width: 100%

#settings
  height: 100px

#draw
  width: 150px

.prop-value
  font-weight: bold

.prop-name
  color: "#333"
  min-width: 80px

.bigger-text
  font-weight: bold

/* svg */
.tz_circle
  stroke: "yellow"
  stroke-width: 1
  fill: "transparent"

.tag-name
  margin-left: 2px
  
.tag-edit
  margin-top: 4px
  
.alle-table
  margin: 3px