body
  padding-top: 70px

#saveButton
  width: 100%

#settings
  height: 100px

#draw
  width: 150px

.prop-value
  font-weight: bold

.prop-name
  color: "#333"
  min-width: 80px

.bigger-text
  font-weight: bold

/* svg */
.tz_circle
  stroke: "yellow"
  stroke-width: 1
  fill: "transparent"

.tag-start
  margin-left: 3px
  margin-right: 3px

.tag-name
  margin-right: 2px
  
.tag-edit
  margin-top: 4px
  
.alle-table
  margin: 3px

// do not show password change button
#login-buttons-open-change-password
  display: none
  
.allergy-hint
  margin-left: 10px
  margin-right: 4px
  
.add-hours-link
.edit-family-link
  margin-left: 5px
  
#yearPaging
  width: 200px
  margin-left: auto
  
  input
    text-align: center
