.container
	.row
		.col-md-12
			h1 Stunden eintragen für Familie {{familyName}}
	.row
		.col-md-12
			.panel.panel-primary
				.panel-heading 
					h3.panel-title Neue Stunden
				.panel-body
					form(name="addHoursForm", novalidate)
						.form-group
							label(for='activity') Tätigkeit 
							input#activity.form-control(type='text', placeholder='Tätigkeit', ng-model="newWork", ng-required) 
						.form-group
							label(for='date') Datum 
							.input-group
								input#date.form-control(type="text", datepicker-popup="{{format}}", ng-model="newDate", is-open="opened", datepicker-options="dateOptions", close-text="Close", ng-required)
								span.input-group-btn
									button.btn.btn-default(ng-click="open($event)")
										i.glyphicon.glyphicon-calendar

						.form-group
							label(for='hours') Stundenzahl 
							input#hours.form-control(type='number', placeholder='Stunden', ng-model="newHours", min="0", max="100", ng-required) 
							//- p.help-block Hier bitte nur ganzzahlige Stunden eintragen

						input.btn.btn-primary.form-control(type="submit", ng-click="addHours(newWork, newDate, newHours)", value="Speichern", ng-disabled="addHoursForm.$invalid")
	.row
		.col-md-12
			.panel.panel-primary
				.panel-heading 
					h3.panel-title Stundenübersicht
				.panel-body
					.table-responsive
						table.table.table-striped.table-condensed
							thead
								tr
									th Tätigkeit
									th Datum
									th Stundenzahl
									th 
							tfoot
								tr
									td(colspan="2") 
										strong Summe
									td 
										strong {{ hoursSum }}
									td
							tbody
								tr(ng-repeat='hour in hours | filter:{ family: familyId} | orderBy: date')
									td {{hour.activity}}
									td {{hour.date | date : format}}
									td {{hour.hours}}
									td
										button.btn.btn-warning.btn-sm(ng-click="deleteHour(hour)", title="Eintrag löschen")
											span.glyphicon.glyphicon-trash 

