.container
	.row
		.col-md-12
			tabset

				tab
					tab-heading
						i.fa.fa-wrench.fa.fa-fw
						| Einstellungen

					.panel.panel-primary.top-space-10
						.panel-heading 
							h3.panel-title Stundenabrechnung
						.panel-body
							.row
								.col-md-12
									.form-inline
										.form-group
											label(for="hoursPerFamilyAndMonth") Stunden pro Familie und Monat
											input#hoursPerFamilyAndMonth.form-control(type='text', placeholder='h/Monat', ng-model="settings.hoursPerFamilyAndMonth") 

					.panel.panel-primary
						.panel-heading 
							h3.panel-title KiTa-Jahreswechsel
						.panel-body
							.row
								.col-md-12
									.form-inline
										.form-group
											label.left-space-10(for="kitaYearStartDay") Tag
											input#kitaYearStartDay.form-control(type='text', placeholder='Tag', ng-model="settings.kitaYearStartDay") 
										.form-group
											label(for="kitaYearStartMonth") Monat
											input#kitaYearStartMonth.form-control(type='text', placeholder='Monat', ng-model="settings.kitaYearStartMonth") 

					.panel.panel-primary
						.panel-heading 
							h3.panel-title Termine
						.panel-body
							.row
								.col-md-12
									.checkbox
										label
											input(type="checkbox", ng-model="settings.onlyAdminCanEditEvents")
											| Nur Admins können Termine anlegen und ändern
							.row
								.col-md-12
									h2 Terminarten
							.row.form-row(ng-repeat="eventType in settings.eventTypes")
								.col-md-9
									.form-inline
										.form-group
											label(for="etKey") Key
											input#etKey.form-control(type='text', placeholder='Key', ng-model="eventType.key") 
										.form-group
											label(for="etName") Name
											input#etName.form-control(type='text', placeholder='Name', ng-model="eventType.name") 
										.form-group
											label(for="etColor") Farbe
											input#etColor.form-control.color-picker(type='color', placeholder='Farbe', ng-model="eventType.color") 
								.col-md-3
									button.left-space-5.btn.btn-danger.pull-right(title="Löschen", ng-click="$parent.deleteEventType(eventType)", disabled)
										i.fa.fa-trash.fa.fa-fw
										| Löschen

							.row
								.col-md-12
									hr
							.row
								.col-md-9
									.form-inline
										.form-group
											label(for="etKey") Key
											input.form-control(type='text', placeholder='Schlüssel', ng-model="newEventTypeKey") 
										.form-group
											label(for="etName") Name
											input.form-control(type='text', placeholder='Name', ng-model="newEventTypeName") 
										.form-group
											label(for="etColor") Farbe
											input.form-control.color-picker(type='color', placeholder='Farbe', ng-model="newEventTypeColor") 
								.col-md-3
									button.left-space-5.btn.btn-primary.pull-right(title="Terminart anlegen", ng-click="createEventType(newEventTypeKey, newEventTypeName, newEventTypeColor)")
										i.fa.fa-plus.fa.fa-fw
										| Anlegen


				tab
					tab-heading
						i.fa.fa-key.fa.fa-fw
						| Benutzer
					
					.panel.panel-primary.top-space-10
						.panel-heading 
							h3.panel-title Vorhandene Benutzer
						.panel-body
							.row(ng-repeat="user in users | orderBy:'username'")
								.col-md-4
									.form-group 
										input#username.form-control(type='text', placeholder='Name', ng-model="user.username", ng-readonly="true") 
								.col-md-4
									.checkbox
										label
											input(type="checkbox", ng-model="user.profile.isAdmin")
											| Administrator
								.col-md-4
									button.left-space-5.btn.btn-danger.pull-right(title="Benutzer löschen", ng-click="deleteUser(user)")
										i.fa.fa-trash.fa.fa-fw
										| Benutzer löschen
									button.left-space-5.btn.btn-primary.pull-right(title="Passwort ändern", ng-click="changePasswort(user)")
										i.fa.fa-user-secret.fa.fa-fw
										| Passwort ändern

					
					.panel.panel-primary
						.panel-heading 
							h3.panel-title Neuen Benutzer anlegen
						.panel-body
							.row
								.col-md-3
									.form-group
										input#username.form-control(type='text', placeholder='Name', ng-model="newUserName") 
								.col-md-3
									.form-group
										input#password.form-control(type='password', placeholder='Password', ng-model="newUserPassword") 
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-model="newUserAdmin")
											| Administrator
								.col-md-3
									button.left-space-5.btn.btn-primary.pull-right(title="Benutzer anlegen", ng-click="createUser(newUserName, newUserPassword, newUserAdmin)")
										i.fa.fa-plus.fa.fa-fw
										| Anlegen


				tab
					tab-heading
						i.fa.fa-sitemap.fa.fa-fw
						| Gruppen
					
					.panel.panel-primary.top-space-10
						.panel-heading 
							h3.panel-title Vorhandene Gruppen
						.panel-body
							.row(ng-repeat="tag in tags | orderBy:'name'")
								.col-md-3
									.form-group
										input#username.form-control(type='text', placeholder='Name', ng-model="tag.name") 
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-true-value="'child'", ng-false-value="'parent'", ng-model="tag.type")
											| Kindergruppe
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-model="tag.canEdit")
											| Editierbar
								.col-md-3
										button.left-space-5.btn.btn-danger.pull-right(title="Gruppe löschen", ng-click="deleteTag(tag)")
											i.fa.fa-trash.fa.fa-fw
											| Gruppe löschen

					.panel.panel-primary
						.panel-heading 
							h3.panel-title Neue Gruppe anlegen
						.panel-body
							.row
								.col-md-3
									.form-group
										input#username.form-control(type='text', placeholder='Name', ng-model="newTagName") 
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-model="newTagChildGroup")
											| Kindergruppe
										p.help-block Kinder dieser Gruppe werden im ANG Bereich berücksichtigt
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-model="newTagCanEdit")
											| Editierbar
										p.help-block Diese Gruppe kann nicht gelöscht oder umbenannt werden
								.col-md-3
									button.left-space-5.btn.btn-primary.pull-right(title="Gruppe anlegen", ng-click="createTag(newTagName, newTagChildGroup, newTagCanEdit)")
										i.fa.fa-plus.fa.fa-fw
										| Anlegen

				tab
					tab-heading
						i.fa.fa-sitemap.fa.fa-fw
						| Export und Import

					.panel.panel-primary
						.panel-heading 
							h3.panel-title Export
						.panel-body
							.row
								.col-md-12
									button.btn.btn-primary.form-control(title="Alle Daten exportieren", ng-click="doExport()")
										i.fa.fa-plus.fa.fa-fw
										| Alle Daten exportieren
							.row
								.col-md-12
									a.btn.btn-success.top-space-10.form-control(ng-disabled="!exportUrl", title="Backup downloaden", download="strolch-app.json", ng-href="{{exportUrl}}")
										i.fa.fa-plus.fa.fa-fw
										| Backup downloaden

					.panel.panel-primary
						.panel-heading 
							h3.panel-title Import
						.panel-body
							.row
								.col-md-12
									.drop-box(ngf-drop, ngf-select, ngf-change="doImport($files)", ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}", ngf-multiple="false", ngf-allow-dir="false", ngf-drop-available="dropAvailable")
										div Hier klicken um eine Import-Datei auszuwählen...
										div
											strong ODER
										div(ng-show="dropAvailable") Eine Import-Datei hier droppen...

