.container
	.row
		.col-md-12
			tabset
				tab
					tab-heading
						i.fa.fa-key.fa.fa-fw
						| Benutzer
					
					.panel.panel-primary.top-space-10
						.panel-heading 
							h3.panel-title Vorhandene Benutzer
						.panel-body
							.row(ng-repeat="user in users")
								.col-md-6
									.form-group 
										p {{ user.username }}
								.col-md-6
									button.left-space-5.btn.btn-danger.pull-right(title="Benutzer löschen", ng-click="deleteUser(user)")
										i.fa.fa-trash.fa.fa-fw
										| Benutzer löschen
									button.left-space-5.btn.btn-primary.pull-right(title="Passwort ändern", ng-click="changePasswort(user)")
										i.fa.fa-user-secret.fa.fa-fw
										| Passwort ändern

					
					.panel.panel-primary
						.panel-heading 
							h3.panel-title Neuen Benutzer anlegen
						.panel-body
							.row
								.col-md-3
									.form-group
										input#username.form-control(type='text', placeholder='Name', ng-model="newUserName") 
								.col-md-3
									.form-group
										input#password.form-control(type='password', placeholder='Password', ng-model="newUserPassword") 
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-model="newUserAdmin")
											| Administrator
								.col-md-3
									button.left-space-5.btn.btn-primary.pull-right(title="Benutzer anlegen", ng-click="createUser()")
										i.fa.fa-plus.fa.fa-fw
										| Anlegen


				tab
					tab-heading
						i.fa.fa-sitemap.fa.fa-fw
						| Gruppen
					
					.panel.panel-primary.top-space-10
						.panel-heading 
							h3.panel-title Vorhandene Gruppen
						.panel-body
							.row(ng-repeat="tag in tags")
								.col-md-3
									.form-group
										span {{ tag.name }}
								.col-md-3
									.checkbox
										label
											input(type="checkbox", value="tag.type=='child'")
											| Kindergruppe
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-model="tag.canEdit")
											| Editierbar
								.col-md-3
										button.left-space-5.btn.btn-danger.pull-right(title="Gruppe löschen", ng-click="deleteTag(tag)")
											i.fa.fa-trash.fa.fa-fw
											| Gruppe löschen

					.panel.panel-primary
						.panel-heading 
							h3.panel-title Neue Gruppe anlegen
						.panel-body
							.row
								.col-md-3
									.form-group
										input#username.form-control(type='text', placeholder='Name', ng-model="newTagName") 
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-model="newTagChildGroup")
											| Kindergruppe
										p.help-block Kinder dieser Gruppe werden im ANG Bereich berücksichtigt
								.col-md-3
									.checkbox
										label
											input(type="checkbox", ng-model="newTagCanEdit")
											| Editierbar
										p.help-block Diese Gruppe kann nicht gelöscht oder umbenannt werden
								.col-md-3
									button.left-space-5.btn.btn-primary.pull-right(title="Gruppe anlegen", ng-click="createGroup()")
										i.fa.fa-plus.fa.fa-fw
										| Anlegen

				tab
					tab-heading
						i.fa.fa-wrench.fa.fa-fw
						| Verschiedenes
					| Content divers