.container-fluid
	.row.alle-table
		form
			.form-group
				.input-group
					.input-group-addon
						i.glyphicon.glyphicon-search
					input.form-control(type="text", placeholder="Hier kannst du nach allem suchen. Namen, Gruppen, Kindern...", ng-model="search")

		.well(ng-repeat='family in families | filter:{ archived: showArchived } | orderBy:sortType:sortReverse | filter:search')
			div
				span.family-name {{ getFamilyName(family) }}
				i.left-space-5.fa.fa-key.fa.fa-fw(ng-show="family.keys.maindoor", title="Haben einen Schlüssel")
				.alle-action-buttons.btn-group(role="group")
					a.edit-family-link.btn.btn-primary.btn-xs(href="/eine/{{family._id}}", title="Bearbeiten")
						span.glyphicon.glyphicon-pencil 
					a.add-hours-link.btn.btn-info.btn-xs(href="/add-hours/{{family._id}}", title="Stunden eintragen")
						span.glyphicon.glyphicon-time 
					button.btn.btn-danger.btn-xs(ng-click="archiveFamily(family)", ng-if="!showArchived", title="Archivieren")
						span.glyphicon.glyphicon-save
					button.btn.btn-success.btn-xs(ng-click="undeleteFamily(family)", ng-if="showArchived", title="Wiederherstellen")
						span.glyphicon.glyphicon-open 
					button.btn.btn-warning.btn-xs(ng-click="deleteFamily(family)", ng-if="showArchived", title="Endgültig löschen")
						span.glyphicon.glyphicon-trash
			.row
				.col-md-9
					.row
						.col-md-6
							div.top-space-10
								i.fa.fa-female.fa-fw
								strong {{ family.mama.nachname }}
								span , {{ family.mama.vorname }}
								span(ng-repeat="tag in family.mama.tags").left-space-5.label.label-default {{ tag.name }}
							.left-space-5(ng-show="family.mama.fon")
								i.fa.fa-phone.fa-fw
								a(href="tel://{{ family.mama.fon }}") {{ family.mama.fon }}
							.left-space-5(ng-show="family.mama.handy")
								i.fa.fa-mobile.fa-fw
								a(href="tel://{{ family.mama.handy }}") {{ family.mama.handy }}
							.left-space-5(ng-show="family.mama.email")
								i.fa.fa-envelope-o.fa-fw
								a(href="mailto://{{ family.mama.email }}") {{ family.mama.email }}
						.col-md-6
							div.top-space-10
								i.fa.fa-male.fa-fw
								strong {{ family.papa.nachname }}
								span , {{ family.papa.vorname }}
								span.left-space-5.label.label-default(ng-repeat="tag in family.papa.tags") {{ tag.name }}
							.left-space-5(ng-show="family.papa.fon")
								i.fa.fa-phone.fa-fw
								a(href="tel://{{ family.papa.fon }}") {{ family.papa.fon }}
							.left-space-5(ng-show="family.papa.handy")
								i.fa.fa-mobile.fa-fw
								a(href="tel://{{ family.papa.handy }}") {{ family.papa.handy }}
							.left-space-5(ng-show="family.papa.email")
								i.fa.fa-envelope-o.fa-fw
								a(href="mailto://{{ family.papa.email }}") {{ family.papa.email }}
					.row
						.col-md-12
							.top-space-10
								i.fa.fa-home.fa-fw
								span {{ family.adresse.strasse }}, 
								span {{ family.adresse.stadt }}
					.row
						.col-md-12
							.top-space-10(ng-repeat="kind in family.kinder", ng-show="kind.nachname") 
								div
									i.fa.fa-child.fa-fw
									strong {{ kind.nachname }}
									span , {{ kind.vorname }} 
									span.text-muted ({{ kind.dob }})
									span.fa.fa-exclamation-triangle.fa-fw(ng-show="kind.hasAllergies", title="Hat Allergien")
									span.left-space-5.label.label-default(ng-repeat="tag in kind.tags") {{ tag.name }}

				.col-md-3
					.top-space-5.emergency-contacts(ng-repeat="emergency in family.emergency", ng-show="emergency.name")
						div
							span.fa.fa-medkit.fa-fw
							span {{ emergency.name }}
						.left-space-5(ng-show="emergency.name && emergency.fon")
							span.fa.fa-phone.fa-fw
							a(href="tel://{{ emergency.fon }}") {{ emergency.fon }}
						.left-space-5(ng-show="emergency.name && emergency.handy")
							span.fa.fa-mobile.fa-fw
							a(href="tel://{{ emergency.handy }}") {{ emergency.handy }}
