.container-fluid
	.row.alle-table
		form
			.form-group
				.input-group
					.input-group-addon
						i.glyphicon.glyphicon-search
					input.form-control(type="text", placeholder="Hier kannst du nach allem suchen. Namen, Gruppen, Kindern...", ng-model="search")
		.table-responsive
			table.table.table-bordered.table-striped.table-condensed
				thead
					tr
						td
							a(href='#', ng-click="sortType = 'mama.nachname'; sortReverse = !sortReverse")
								| Eltern 
								span.glyphicon.glyphicon-chevron-down(ng-show="sortType == 'mama.nachname' && !sortReverse")
								span.glyphicon.glyphicon-chevron-up(ng-show="sortType == 'mama.nachname' && sortReverse")
						td
							a(href='#', ng-click="sortType = 'kinder[0].nachname'; sortReverse = !sortReverse")
								| Kinder 
								span.glyphicon.glyphicon-chevron-down(ng-show="sortType == 'kinder[0].nachname' && !sortReverse")
								span.glyphicon.glyphicon-chevron-up(ng-show="sortType == 'kinder[0].nachname' && sortReverse")
						td Adresse
						td Telefon
						td Email
						td
				tbody
					tr(ng-repeat='family in families | filter:{ archived: showArchived } | orderBy:sortType:sortReverse | filter:search')
						td 
							div(ng-show="family.mama.nachname") 
								strong {{ family.mama.nachname }}
								span , {{ family.mama.vorname }}
								span(ng-show="family.mama.tags.length>0")
									span.small.text-info.tag-start (
									span.small.text-info(ng-repeat="tag in family.mama.tags")
										span.tag-name(ng-if="$last || family.mama.tags.length==1") {{ tag.name }}
										span.tag-name(ng-if="!$last && family.mama.tags.length>0") {{ tag.name }}, 
									span.small.text-info )
							div(ng-show="family.papa.nachname") 
								strong {{ family.papa.nachname }}
								span , {{ family.papa.vorname }}
								span(ng-show="family.papa.tags.length>0")
									span.small.text-info.tag-start (
									span.small.text-info(ng-repeat="tag in family.papa.tags")
										span.tag-name(ng-if="$last || family.mama.tags.length==1") {{ tag.name }}
										span.tag-name(ng-if="!$last && family.mama.tags.length>0") {{ tag.name }}, 
									span.small.text-info )
						td 
							div(ng-repeat="kind in family.kinder", ng-show="kind.nachname") 
								div
									strong {{ kind.nachname }}
									span , {{ kind.vorname }} 
									span.text-muted ({{ kind.dob }})
									span(ng-show="kind.tags.length>0")
										span.small.text-info.tag-start (
										span.small.text-info(ng-repeat="tag in kind.tags")
											span.tag-name(ng-if="$last || family.mama.tags.length==1") {{ tag.name }}
											span.tag-name(ng-if="!$last && family.mama.tags.length>0") {{ tag.name }}, 
										span.small.text-info )
								//- div(ng-show="kind.allergies")
								//- 	span.allergy-hint.glyphicon.glyphicon-exclamation-sign
								//- 	span.small.text-danger {{ kind.allergies }}
								div(ng-show="kind.hasAllergies")
									span.allergy-hint.glyphicon.glyphicon-exclamation-sign
									span.small.text-danger Allergie

						td
							div {{ family.adresse.strasse }}
							div {{ family.adresse.stadt }}
						td
							div(ng-show="family.mama.fon")
								a(href="tel://{{ family.mama.fon }}") {{ family.mama.fon }} ({{ family.mama.vorname }})
							div(ng-show="family.mama.handy")
								a(href="tel://{{ family.mama.handy }}") {{ family.mama.handy }} ({{ family.mama.vorname }})
							div(ng-show="family.papa.fon")
								a(href="tel://{{ family.papa.fon }}") {{ family.papa.fon }} ({{ family.papa.vorname }})
							div(ng-show="family.papa.handy")
								a(href="tel://{{ family.papa.handy }}") {{ family.papa.handy }} ({{ family.papa.vorname }})
							div(ng-repeat="emergency in family.emergency")
								div(ng-show="emergency.name && emergency.fon")
									a.text-warning(href="tel://{{ emergency.fon }}") {{ emergency.fon }} ({{ emergency.name }})
								div(ng-show="emergency.name && emergency.handy")
									a.text-warning(href="tel://{{ emergency.handy }}") {{ emergency.handy }} ({{ emergency.name }})
						td
							div(ng-show="family.mama.email")
								a(href="mailto://{{ family.mama.email }}") {{ family.mama.email }} ({{ family.mama.vorname }})
							div(ng-show="family.papa.email")
								a(href="mailto://{{ family.papa.email }}") {{ family.papa.email }} ({{ family.papa.vorname }})
						td
							a.edit-family-link.btn.btn-primary.btn-sm(href="/eine/{{family._id}}", title="Bearbeiten")
								span.glyphicon.glyphicon-pencil 
							a.add-hours-link.btn.btn-primary.btn-sm(href="/add-hours/{{family._id}}", title="Stunden eintragen")
								span.glyphicon.glyphicon-time 
							button.btn.btn-danger.btn-sm(ng-click="deleteFamily(family)", ng-if="!showArchived", title="Archivieren")
								span.glyphicon.glyphicon-trash 
							button.btn.btn-warning.btn-sm(ng-click="undeleteFamily(family)", ng-if="showArchived", title="Wiederherstellen")
								span.glyphicon.glyphicon-trash 
