.container
	.row.tag-edit(ng-repeat="tag in tags")
		.col-md-5.col-md-offset-3
			input.form-control(type="text", ng-model="tag.name")
		.col-md-1
			button.btn.btn-danger.btn-sm.form-control(ng-click="deleteTag(tag)")
				span.glyphicon.glyphicon-trash
	
	.row.tag-edit
		.col-md-5.col-md-offset-3
			input.form-control(type="text", ng-model="newName", placeholder="Neue Gruppe...")
		.col-md-1
			button.btn.btn-success.btn-sm.form-control(ng-click="addTag(newName)")
				span.glyphicon.glyphicon-plus


