doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
		link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
		link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="/manifest.json")

		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='shortcut icon', href='images/favicon.png')
		title strolch-app
		// Bootstrap core CSS
		link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
		link(href='css/font-awesome.min.css', rel='stylesheet')
		// Custom styles for this template
		link(href='style.css', rel='stylesheet')
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		//if lt IE 9
			script(src='bootstrap/js/html5shiv.js')
			script(src='bootstrap/js/respond.min.js')
	
	body(data-spy='scroll', data-target='#topnav')
		#topnav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand 
						i.fa.fa-female.fa-lg
						i.fa.fa-child.fa-lg
						i.fa.fa-male.fa-lg
						span(style="margin-left: 5px;") strolch-app
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.active
							a(href='#home') Start
						li
							a(href='#services') Besonderes
						li
							a(href='#features') Features
						li
							a(href='#pricing') Preis
						li
							a(href='#clients') Kundenstimmen
						li
							a(href='#contact') Kontakt
				// /.navbar-collapse
		// Main jumbotron for a primary marketing message or call to action
		#home.jumbotron
			.container
				.media
					a.pull-right(href='#')
						img.media-object(src='images/Finder_256.png')
					.media-body
						.col-md-11
							h1.title
								| strolch-app
							p
								| Die strolch-app ist eine von KiTas für KiTas entwickelte Web-App, die den Alltag von Eltern und Team erleichtert.
							p
								a(href='#services').btn.btn-success.btn-lg
									| Mehr erfahren
									i.icon.icon-angle-right
		#services.container
			// Example row of columns
			.row.features
				.col-lg-4.text-center
					.single-fet
						div
							span.icon-stack.icon-4x
								i.icon-circle.icon-stack-base
								i.icon-download-alt.icon-light
						h2
							| Kostenlos!
						p
							| Die strolch-app ist OpenSource und kann kostenfrei genutzt werden. Dennoch bieten wir 
							| verschiedene Servicepakete an um allen Anwendern eine Lösung anbieten zu können. 20% der Erlöse 
							| werden an die KiTa Kleine Strolche Aachen gespendet.
				.col-lg-4.text-center
					.single-fet
						div
							span.icon-stack.icon-4x
								i.icon-circle.icon-stack-base
								i.icon-ok.icon-light
						h2
							| Responsive 
						p
							| Die Web-App funktioniert sowohl im Browser, wie auch auf dem Smart-Phone. Die Ansichten passen 
							| sich den kleineren Bildschirmen automatisch an.
				.col-lg-4.text-center
					.single-fet
						div
							span.icon-stack.icon-4x
								i.icon-circle.icon-stack-base
								i.icon-laptop.icon-light
						h2 Made with Meteor!
						p
							| Programmiert mit Meteor, einem modernen Echtzeit-JavaScript-Framework. Alle Daten werden auf 
							| allen aktiven Clients aktuell gehalten.
		section#features.slider
			.container
				.inner-page
					h2.page-headline.large.text-center Mit der strolch-app die KiTa im Blick.
					p.text-center
						| Ob Adressen, Termine, Elternstunden oder spezielle Gruppenübersichten, die die Arbeit des Teams 
						| erleichtern - die strolch-app schafft Überblick und Aktualität wo bisher Papierkrieg und Emailchaos 
						| herrschten
				.row.inner-page
					.col-md-12.lazy-container.loaded
						h2
							| Die 
							strong Features
						.row
							.col-md-6
								.feature-box
									.feature-box-icon
										i.icon-group
									.feature-box-info
										h4.shorter Adressübersicht
										p.tall Von den Eltern selbst gepflegte Kontaktdaten. Immer Aktuell. Immer erreichbar.
								.feature-box
									.feature-box-icon
										i.icon-file
									.feature-box-info
										h4.shorter Terminübersicht
										p.tall Alle KiTa-Termine als Liste und in der Kalenderansicht. Da verpasst man nichts mehr.
								.feature-box
									.feature-box-icon
										i.icon-google-plus
									.feature-box-info
										h4.shorter Stundenliste
										p.tall Es werden Elternstunden geleistet? Dann könen diese jetzt einfach eingegeben und sichtbar gemacht werden.
								.feature-box
									.feature-box-icon
										i.icon-adjust
									.feature-box-info
										h4.shorter Gruppenübersicht
										p.tall Jahrgangs-/Gruppenübersicht zur Erleichterung der Aufnamheentscheidung und Gruppenzusammenstellung.
							.col-md-6
								.feature-box
									.feature-box-icon
										i.icon-film
									.feature-box-info
										h4.shorter Druckübersicht
										p.tall Kontaktdaten als druckbare Version für den direkten Zugruff in den Gruppen.
								.feature-box
									.feature-box-icon
										i.icon-magic.small.user
									.feature-box-info
										h4.shorter Schnell und aktuell
										p.tall Durch die eingesetzte Technik sind die Daten dank automatischer Speicherung und Live-Update überall direkt aktuell.
								.feature-box
									.feature-box-icon
										i.icon-reorder
									.feature-box-info
										h4.shorter OpenSource
										p.tall Dank OpenSource kann die strolch-app erweitert und selbstgehostet werden. Trotzdem gibt es die Möglichkeit die strolch-app hosten und warten zu lassen.
								.feature-box
									.feature-box-icon
										i.icon-desktop
									.feature-box-info
										h4.shorter Charity
										p.tall Ein Teil der Erlöse kommt wieder den Kindern zugute.
		section#pricing.pricing
			.container
				.row
					.col-md-12.pricing-intro
						h2.page-headline.large.text-center OpenSource und Selbhosting zum Selbstkostenpreis oder Rundum-Sorglos Paket?
						p.text-center
							| Es gibt verschiedene Möglichkeiten die strolch-app zu Betreiben. Selber machen oder selber zahlen:
			.container
				.row.pricing-table
					.col-md-4
						.panel.panel-danger
							.panel-heading
								h3.text-center HACKER PLAN
							.panel-body.text-center
								p.lead(style='font-size:40px')
									strong free
							ul.list-group.list-group-flush.text-center
								li.list-group-item
									i.icon-ok.text-danger
									|  Selbsthosting
								li.list-group-item
									i.icon-ok.text-danger
									|  Selbstbackup
								li.list-group-item
									i.icon-ok.text-danger
									|  Selbstupdate
								li.list-group-item
									i.icon-ok.text-danger
									|  Selbstsupport
							.panel-footer
								a.btn.btn-lg.btn-block.btn-danger(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat')
									| DOWNLOADEN
					.col-md-4
						.panel.panel-info
							.panel-heading
								h3.text-center SIMPLE PLAN
							.panel-body.text-center
								p.lead(style='font-size:40px')
									strong €10 / Monat
							ul.list-group.list-group-flush.text-center
								li.list-group-item
									i.icon-ok.text-danger
									|  Hosting bei Meteor.com
								li.list-group-item
									i.icon-ok.text-danger
									|  Backup per Eigendownload
								li.list-group-item
									i.icon-ok.text-danger
									|  Regelmäßige Updates
								li.list-group-item
									i.icon-ok.text-danger
									|  EMail-Support
							.panel-footer
								a.btn.btn-lg.btn-block.btn-info(href='#')
									| KAUFEN
					.col-md-4
						.panel.panel-success
							.panel-heading
								h3.text-center PRO PLAN
							.panel-body.text-center
								p.lead(style='font-size:40px')
									strong €25 / Monat
							ul.list-group.list-group-flush.text-center
								li.list-group-item
									i.icon-ok.text-danger
									|  Hosting auf virtuellem Server
								li.list-group-item
									i.icon-ok.text-danger
									|  Regelmäßige Updates
								li.list-group-item
									i.icon-ok.text-danger
									|  Backup auf dem Server und per EMail
								li.list-group-item
									i.icon-ok.text-danger
									|  EMail-Support
							.panel-footer
								a.btn.btn-lg.btn-block.btn-success(href='#')
									| KAUFEN
		section.gray.hidden
			.container
				.row
					.col-md-12
						h3.text-center Tell your projects awesome story.
		section#clients.about
			.dmask
				.our-clients
					.container
						.row
							.client(style='background-position: 50% 27px;')
								.client-logo
									.col-lg-8.col-md-8.col-sm-6.col-xs-12
										.clients-title
											h3.title
												| Wers 
												span benutzt 
											.carousel-controls.pull-right
												a.prev.btn-mini(data-slide='prev', href='#client-carousel')
													i.icon-angle-left
												a.next.btn-mini(data-slide='next', href='#client-carousel')
													i.icon-angle-right
												.clearfix
										.clearfix
										.row
											#client-carousel.client-carousel.slide
												.carousel-inner
													.item.active
														.col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d1.animate_start
															.item-inner
																a(style='cursor: pointer;')
																	img(src='images/strolche.jpg', alt='KiTa Kleine Strolche Aachen')
														.col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d2.animate_start
															.item-inner
																a.hidden(style='cursor: pointer;')
																	img(src='images/logo-2.png', alt='Upportdash')
														.col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d3.animate_start
															.item-inner
																a.hidden(style='cursor: pointer;')
																	img(src='images/logo-3.png', alt='Upportdash')
														.col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d4.animate_start
															.item-inner
																a.hidden(style='cursor: pointer;')
																	img(src='images/logo-4.png', alt='Upportdash')

									.col-lg-4.col-md-4.col-sm-6.col-xs-12
										// Testimonials Widget Start
										.row
											.testimonials.widget
												.col-lg-12.col-md-12.col-sm-12.col-xs-12
													.testimonials-title
														h3.title
															| Kunden 
															span Meinungen
														.carousel-controls.pull-right
															a.prev.btn-mini(data-slide='prev', href='#testimonials-carousel')
																i.icon-angle-left
															a.next.btn-mini(data-slide='next', href='#testimonials-carousel')
																i.icon-angle-right
															.clearfix
												.clearfix
												#testimonials-carousel.testimonials-carousel.slide.animate_afr.d5.animate_start
													.carousel-inner
														.item.active
															.col-lg-12.col-md-12.col-sm-12.col-xs-12
																.testimonial.item
																	p
																		| Danke der strolch-app muss ich nun nicht mehr 
																		| die Kontaktdaten aller Eltern pflegen und per 
																		| Email verteilen. 
																		| Die Jahrgangs-/Gruppenübersicht erleichtert und
																		| im Team die Arbiete bei der Gruppenaufteilung.
																	.testimonials-arrow
																	.author
																		.testimonial-image
																			img(src='images/team-member-2.jpg', alt='')
																		.testimonial-author-info
																			a(href='#') Remo Schwabe
																			| Leitung - Kleine Strolche
														.item
															.col-lg-12.col-md-12.col-sm-12.col-xs-12
																.testimonial.item
																	p
																		| Seit dem ich in der strolch-app selber meine
																		| Kontaktdaten pflegen kann habe ich keine Sorge 
																		| mehr, dass ich durch falsche Daten nicht erreichbar 
																		| bin wenn meine Kind etwas passiert.
																	.testimonials-arrow
																	.author
																		.testimonial-image
																			img(src='images/team-member-3.jpg', alt='')
																		.testimonial-author-info
																			a(href='#') Christina Fritz
																			| Vorstand - Kleine Strolche
														.item
															.col-lg-12.col-md-12.col-sm-12.col-xs-12
																.testimonial.item
																	p
																		| Mit der Elternarbeitsstundenübersicht
																		| kann ich nun viel einfacher die meine Arbeitsstunden
																		| eintragen und sehen wie viel die anderen Eltern machen.
																	.testimonials-arrow
																	.author
																		.testimonial-image
																			img(src='images/team-member-3.jpg', alt='')
																		.testimonial-author-info
																			a(href='#') Katja Krämer
																			| Mutter - Kleine Strolche
		section#contact.contact
			.container
				.row
					.col-md-6
						#contactSuccess.alert.alert-success.hidden
							strong Erfolg!
							|  Die Nachricht wurde an uns gesendet.
						#contactError.alert.alert-error.hidden
							strong Fehler!
							|  Beim Versenden ist ein Fehler aufgetreten.
						h2.short
							| Nehmen Sie 
							strong Kontakt
							|  auf
						form.clearfix(accept-charset='utf-8', method='get', action='#')
							.row
								.col-sm-6.form-group
									label(for='name') Name
									input#name.form-control.input-lg(type='text', placeholder='', value='', name='name')
								.col-sm-6.form-group
									label(for='email') Email Adresse
									input#email.form-control.input-lg(type='email', placeholder='', value='', name='email')
							.row
								.col-sm-12.form-group
									label(for='message') Nachricht
									textarea#message.form-control(rows='4', name='message')
							button.btn.btn-success.btn-xlg(type='submit') Abschicken
					.col-md-offset-1.col-md-5
						br
						h4.pull-top
							| Get in 
							strong touch
						p
							| Schreiben Sie ein Nachricht. Fragen uns nach Features oder Betriebsmöglichkeiten.
						hr
						h4
							| Unsere 
							strong Kontakdaten
						ul.unstyled
							li
								i.icon-map-marker
								strong Adresse:
								|  Aachen
							li
								i.icon-envelope
								strong Email: 
								a(href='mailto:sk@dotob.de') sk@dotob.de
		footer#footer
			.container
				.row
					.footer-ribbon(style='right: 0')
						h3.title(style='margin: 0;padding: 5px 10px')
							| Vielen 
							span Dank
			.footer-copyright
				.container
					.row
						.col-md-2.hidden
							a.logo(href='index.html')
								img(src='images/expose-logo.png', alt='Template Eden')
						.col-md-5
							p © Copyright 2015 by dotob.
						.col-md-5.hidden
							nav#footer-menu
								ul
									li
										a(href='#') FAQ's
									li
										a(href='#') Sitemap
									li
										a(href='#') Contact
		//
			Bootstrap core JavaScript
			==================================================
		// Placed at the end of the document so the pages load faster
		script(src='js/jquery.js')
		script(src='bootstrap/js/bootstrap.min.js')
